nav(class="navbar navbar-expand-md navbar-light bg-light rounded mb-3")
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
    div(class="collapse navbar-collapse" id="navbarCollapse")
        ul(class="navbar-nav text-md-center nav-justified w-100")
            li(class="nav-item active")
                a(class="nav-link" href="#") Home
            li(class="nav-item")
                a(class="nav-link" href="/contatos") Contatos
            li(class="nav-item")
                a(class="nav-link" href="/usuarios") Usuários
            li(class="nav-item")
                a(class="nav-link" href="/email") Entrar em contato
            li(class="nav-item")
                a(class="nav-link" href="/") Usuario logado[sair]