extends ../layout

block content
    div(class="jumbotron")
        h1 Curso de Node.Js
        p(class="lead")
            | Teste Cras justo odio, dapibus ac facilisis in, egestas eget quam.
            | Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.
        p
            a(href="#" class="btn btn-lg btn-success") Acessar o site